.footer {
  background-color: #706c64;
}
.footer p {
  color: #fff;
}
.footer-block {
  max-width: 1400px;
  padding: 50px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-block-item {
  justify-self: center;
}
.footer-address {
  padding-top: 90px;
  color: #fff;
}
.phones {
  margin-bottom: 30px;
}
.phones a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.phones a:hover {
  text-decoration: none;
}
.work-hours p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.social-links {
  display: flex;
}
.social-links-item {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  height: 43px;
  width: 43px;
  margin-right: 17px;
}
.social-links-item a {
  color: #706c64;
}
.social-links-item a:hover {
  color: #706c64;
}
.social-links-item:last-child {
  margin-right: 0;
}
.footer-nav-list {
  list-style: none;
  padding-inline-start: 0px;
}
.footer-nav {
  margin-top: 20px;
}
.footer-nav-list a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.footer-nav-list a:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 900px) {
  .footer-block {
    gap: 50px;
    grid-template-columns: 1fr;
  }
  .footer {
    text-align: center;
  }
  .social-links {
    justify-content: center;
  }
}
